<%- include header.ejs %>
<p class="info">

    作者：<a href="/u/<%= doc.name %>"><%= doc.name %></a>
    日期：<a href="#"><%= doc.time %></a>
</p>
<p>
    <%- doc.content %>
</p>
<%- include footer.ejs %>